@font-face {
  font-family: 'UTM Avo';
  src: url('../vendor/frontend/fonts/UTM-Avo/UTM Avo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'UTM Avo';
  src: url('../vendor/frontend/fonts/UTM-Avo/UTM AvoBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
